<div class="header">Upload New Track</div>

<div class="form-container" style="width: 450px">
  <% form_for(@track, :html => { :multipart => true }) do |f| %>
    <%= render :partial => "shared/form_error", :locals => { :f => f } %>
    <div class="key key-small">
      Choose File
    </div>
    <div class="value">
      <%= f.file_field :audio %><%= f.submit 'Upload' %>
    </div>
    <div class="clear"></div>
  <% end %>
</div>
