<h1>Latest Comments</h1>
<% @comments.each do |comment| %>
  <div class="padded">
    <%= link_to "#{comment.track.artist} - #{comment.track.title}", track_path(comment.track) %> - <%= comment.content %>
  </div>
<% end %>
